 * {
     /*for removing default*/
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background: linear-gradient(-45deg, #00398f, #001c4a, #15009c, #001079);
 }

 header {
     position: absolute;
     top: 0;
     left: 0;
     left: 0;
     width: 100%;
     padding: 30px 100px;
     justify-content: space-between;
     display: flex;
     align-items: center;
     z-index: 10000;
 }

 header .logo {
     color: #fff;
     font-weight: 700;
     text-decoration: none;
     font-size: 2em;
     text-transform: uppercase;
     letter-spacing: 2px;
 }

 header ul {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 header ul li {
     list-style: none;
     margin-left: 20px;
 }

 header ul li a {
     text-decoration: none;
     padding: 6px 15px;
     color: #fff;
     border-radius: 20px;
 }

 header ul li a:hover {
     background: #fff;
     color: #2b1055;
 }

 .maindiv{
    margin-top: 100px;
    width: 90%;
    height:330px;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-0%);
    background-image: url('cod.jpg');
    background-image: url('vol.jpg');
    background-image: url('b.jpg');
    background-image: url('cer.jpg');
    background-size:100%,100% ;
    box-shadow: 5px 7px 6px rgba(255, 255, 255, 0.549);
    animation: slider 30s infinite linear;
}

@keyframes slider{
    0%{  background-image: url('vol.jpg');}

    25%{ background-image: url('cod.jpg'); }

    50%{ background-image: url('b.jpg');}

    75%{ background-image: url('cer.jpg');}
    
}

 .exploreClubs {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 20px;
 }

 .gdscUvce,
 .ieeeUvce,
 .pravegUvce,
 .ecellUvce,
 .adhamyaUvce {
     background: linear-gradient(-45deg, #b3d3f3, #8ab5e8, #afadee, #7881b2);
     text-align: center;
     border-radius: 5%;
     width: 250px;
     height: 460px;
     padding: 15px;
 }

 footer {
     background-color: #2b1055;
     color: #fff;
     text-align: center;
     padding: 20px;
     bottom: 0px;
 }

 .footerContainer {
     width: 100%;
     padding: 70px 20px 30px;
 }

 .socialicons {
     display: flex;
     justify-content: center;
 }

 .socialicons a {
     text-decoration: none;
     padding: 7px;
     background-color: #fff;
     margin: 10px;
     border-radius: 50%;
 }

 .socialicons a i {
     font-size: 2em;
     color: black;
     opacity: 0.9;
 }

 .socialicons a:hover {
     background-color: #2b1055;
     transition: 0.5s;
 }

 .socialicons a:hover i {
     color: white;
     transition: 0.5s;
 }

 .fa {
     padding: 20px;
     font-size: 30px;
     width: 30px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
 }

 .designer {
     opacity: 0.7;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: 400;
     margin: 0px 5px;
 }