:root {
    --primary-color: #022176;
    --secondary-color: #4285F4;
    --accent-color: #34A853;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans', Arial, sans-serif;
    line-height: 1.6;
}

header {
    padding: 0px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.logo {
    height: 55px;
    width: fit-content;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    color: var(--text-color);
    margin: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.hero {
    padding: 100px 0;
}

.hero h1 {
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 1px;
}

.row {
    margin-top: 50px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.footer-logo {
    max-height: 100px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px;
        position: relative;
        z-index: 10;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .card-img-top {
        height: 200px;
    }

    .hero {
        padding: 50px 0;
    }
}